<h1>New Group</h1>

<%= form_with model: @group do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    <% @group.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>