<section class="new-group">
  <div class="page-headerr">
    <h1>NEW GROUP</h1>
  </div>

  <div class="jumbotron center">

  <%= form_with model: @group do |form| %>
    <div class="form-name">
      <%= form.label :name %><br>
      <%= form.text_field :name %>
      <% @group.errors.full_messages_for(:name).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>

    <div class="form-image">
      <%= form.file_field :icon %>
    </div>

    <div>
      <%= form.submit 'Create Group', class: 'btn user-btn' %>
    </div>
  <% end %>

  </div>
</section>