<section class="group-show">
<div class="page-headerr">
  <div class="head-container">
    <div class="profile-link">
      <%= link_to current_user do %>
        <%= fa_icon "bars 2x" %>
      <% end %>
    </div>
    <div class="h2h">GROUP TRANSACTIONS</div>
  </div>
  </div>
<div class="group-box">
  <% @group_entities.each do |transaction| %>
    <div class="group-transaction-item">
      <%= image_tag transaction.group.icon if @group.icon.attached? %>
      <div>
        <div class="transaction-name"><%= transaction.name %></div>
        <div class="transaction-author">Author: <%= transaction.author.name %></div>
        <div class="transaction-date"><%= transaction.created_at.to_date %></div>
      </div> 
      <div class="transaction-amount">$<%= transaction.amount %></div>
    </div>
  <% end %>
  </div>
</section>
