<section class="user-sign-up">
  <h2 class="page-headerr m-0 p-2">LOGIN</h2>

  <div class="jumbotron center">

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password", class: 'form-control' %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="form-group">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>

        <div class="actions">
          <%= f.submit "Log in", class: 'btn user-btn' %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>

    </div>

</section>
